@*Lexi Reed *@
@page "/flashcard"

<nav class="navbar"> 
    <img class="nav-logo" src="/Pictures/StudySprout.png" alt="Study Sprout Logo" />
    <button class="sign-up">Sign Up</button>
    <button class="log-in">Log In</button>
    <button class="my-garden">MY GARDEN</button>
    <button class="my-study-sets">MY STUDY SETS</button>
    <button class="create-new">CREATE NEW</button>
</nav>

<div class="flip-card"> 
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <h1>what's the best study tool?</h1>
      <img class="slink-icon" src="/Pictures/Slink.png" alt="Slink Image" />
    </div>
    <div class="flip-card-back">
      <h1>Study Sprout</h1>
    </div>
  </div>
</div>

