@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button> @onclick="NavigateToCreateNew"> Go to CreateNew Page</button>

@code {
    private void NavigateToCreateNew()
    {
        NavigationManager.NavigateTo("/CreateNew");
    }
}