@page "/leaderboard"

<header>
    <div class="logo">
        <img class="logo" src="/favicon.png" alt="Study Sprout Logo" />
        <nav>
            <a href="/MyStudySets">MY STUDY SETS</a>
            <a href="/CreateNew" class="active">CREATE NEW SET</a>
        </nav>
    </div>

    <div class="auth-links">
        <a href="/signup">Sign up</a>
        <a href="/signin" class="GoToLogIn">Log in</a>
    </div>
</header>

<div class="leaderboard-page">
    <h1>Leaderboard</h1>
    <img class="nav-logo" src="/Pictures/JackedSlink.png" alt="Jacked Slink" />
    <div id="container">
        <div class="row">
            <div class="name">Player1</div><div class="score">1st</div>
        </div>
        
        <div class="row">
            <div class="name">Player2</div><div class="score">2nd</div>
        </div>
        
        <div class="row">
            <div class="name">Player3</div><div class="score">3rd</div>
        </div>
        
        <div class="row">
            <div class="name">Player4</div><div class="score">4th</div>
        </div>
        
        <div class="row">
            <div class="name">Player5</div><div class="score">5th</div>
        </div>
    </div>
</div>