@page "/MyStudySets"
@attribute [StreamRendering]
@inject NavigationManager Navigation

<PageTitle>MY STUDY SETS</PageTitle>

<h1>MY STUDY SETS.</h1>

<p>READY, SET, STUDY!</p>

<!--Click on a set to view your flashcards.-->
<ul>
    @foreach (var set in studySets)
    {
        <li>
            <strong>@set.title</strong>:-- set.description
        </li>
    }
</ul>

@if (isSuccess)
{
    <p class="alert alert-success">Study set accessed successfully</p>
}

@if (isError)
{
    <p class="alert alert-danger">Error</p>
}

@code
{
    private System.Collections.ArrayList studySets;

    protected override void OnInitialized()
    {
        studySets = wait DBCreateNewData.StudySets.ToListAsync();
    }
}